<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Exchange</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Exchange.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Exchange</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tüm Kategoriler</a>
                                
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @foreach (var mainCategory in ViewBag.MainCategories)
                                    {
                                        <div class="subDropdown mx-2">
                                            
                                            <a class="nav-link " id="navbarDropdown" href="#" role="button"
                                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@mainCategory.Text</a>
                                
                                            <div class="subDropdown-menu" aria-labelledby="dropdownMenuButton">
                                                @foreach (var subCategory in mainCategory.Categories)
                                                {
                                                    <a class="nav-link subDropdown-item text-center" href="CategoriesList/@mainCategory.Url/@subCategory.Url" role="button" aria-expanded="false">@subCategory.Text</a>
                                                    @foreach(var Tags in subCategory.Tags){
                                                        <a class="nav-link subDropdown-item text-center" href="/CategoriesList/@Tags.Url" role="button" aria-expanded="false">@Tags.Text</a>
                                                    }
                                                    

                                                }
                                            </div>
                                            
                                        </div>
                                    }
                            </div>
                        </li>
                        <li class="nav-item mx-2">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..."
                                    aria-label="Enter search term..." aria-describedby="button-search">
                                <button class="btn btn-primary" id="button-search" type="button">Search</button>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ms-lg-4 justify-content-between">
                    @if(User.Identity!.IsAuthenticated)
                    {
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-dark" asp-area="" asp-controller=""
                                asp-action="" style="width: 120px;">Yorumlarım
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-dark" asp-area="" asp-controller=""
                                asp-action="" style="width: 120px;">Ürünlerim
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-dark"asp-controller="Products"
                                asp-action="AddProduct" style="width: 120px;">Ürün ekle
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-dark"  asp-controller="Account"
                                asp-action="Profile" style="width: 120px;">Profil
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-dark" asp-controller="Account"
                                asp-action="Logout" style="width: 120px;">Logout
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-dark" asp-area="" asp-controller=""
                                asp-action="" style="width: 120px;">Favorilerim
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-dark" asp-area="" asp-controller=""
                                asp-action="" style="width: 120px;">Sepetim
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-dark" asp-area="" asp-controller="Account"
                                asp-action="Authentication" style="width: 120px;">Hesap
                            </a>
                        </li>
                    }              
                </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="position: flexbox;">
        <div class="container">
            &copy; 2024 - Exchange - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
