@model IEnumerable<Product>
<dic class="text-center">
    <div class="display-6">Ürünler</div>

    <div class="d-flex justify-content-end my-3">
        <a class="btn btn-outline-success" asp-action="Create">
            <i class="fa fa-plus"></i>
            Ürün Ekle
        </a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Resim</th>
                <th>Ürün Adı</th>
                <th>Satış/Takas</th>
                <th>Tercih Edilen ürün</th>
                <th>Fiyat</th>
                <th>Operasyonlar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>
                        <img width="50" src="@product.ImageUrl" alt="@product.ProductName">
                    </td>
                    <td>@product.ProductName</td>
                    @if (product.ExchangeStatus)
                    {
                        <td>Takas</td>
                    }
                    else
                    {
                        <td>Satış</td>
                    }
                    <td>@product.ExcangeCategory</td>
                    <td>@product.Price.ToString("c")</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-outline-warning" asp-action="Update" asp-route-id="@product.ProductId">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Düzenle
                            </a>
                            <a class="btn btn-outline-info" target="_blank" asp-area="" asp-controller="Product"
                                asp-action="Get" asp-route-id="@product.ProductId">
                                <i class="fa fa-search"></i>
                                Önizleme
                            </a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@product.ProductId">
                                <i class="fa-solid fa-trash"></i>
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</dic>